.gallery-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    height: 90%;
    overflow: scroll;
    grid-gap: 0.6em;
    width: 90%;
    grid-template-rows: repeat(auto-fit, minmax(400px, 1fr));
    justify-items: center;
    }

.gallery-item{
    background: white;
    box-shadow: 6px 6px 5px 0px #0000001c;
    padding: 1em;
    border-radius: 5pt;
    text-align: center;
    height: 400px;
}
.gallery-item.single {
    height: unset;
}

.image-container {
    width: 300px;
    height: 300px;
    contain: content;
    background-color: var(--background);
    z-index: 2;
    border-radius: 5pt;
}
.image-container.single{
    max-width: 500px;
    max-height: 500px;
    width: unset;
    height: unset;
}

.gallery-image {
    vertical-align: middle;
    max-width: 100%;
    max-height: 100%;
    height: auto;
    object-fit: cover;
    border-style: inset;
    border-width: thin;
}

.gallery-image.single:{
    object-fit: contain;
}

.gallery-details {

}
