:root {
    --black : #3a3a3a;
    --gray: grey;
    --accent: #f32553;
}


body {
    background-color: #f9f8f8;
    font-family: sans-serif;
    font-weight: normal;
    text-align: left;
    margin: 0;
    letter-spacing: 1pt;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover, a:focus, li:focus {
    outline: none;
    text-decoration: none;
    color: var(--gray);
}

a:active {
    color: var(--accent);
}

nav {
    background-color: #eae9e9;
    padding-right: 1.5em;
    padding-left: 1.5em;
    height: 4.2em;
    display: flex;
    font-family: inherit;
    align-items: center;
}

nav ul {
    display: inline;
    list-style: none;
    font-weight: 400;
    margin: 0;
    text-decoration: none;
    padding: 0;
}

li {
    display:inline;
    padding: 5pt;
    color: var(--black)
}

path {
    fill: #3a3a3a;
}

.main {
    margin-top: 2em;
    padding: 2em;
}

svg.container {

}

.logo {
    grid-area: header;
    height: 100%;
    max-width: 400px;
    min-width: 240px;
    justify-self: center;

}

/* .center-content{
    display: flex;
    justify-content: center;
    justify-items: center;
} */

.center-content {
    display: grid;
    grid-template-areas: '. header pageNav' '. main .';
    max-height: 100vh;
}

.cards-container{
    margin: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: main;
}

.cards {
    padding: 25pt;
    text-align: center;
    margin-bottom: 30pt;
    background-color: #fffefe;
    width: fit-content;
    box-shadow: 5px 8px 11px 0px rgb(0, 0, 0, .05);
}

.cards:hover {
    transform: rotate(1.5deg);
}

.page-nav {
    grid-area: pageNav;
    justify-self: start;
    align-self: end;
}

.toast {
    opacity: 1;
    display: none;
    position: fixed;
    right: 3em;
    top: 4em;
}

.background {
    position: absolute;
    z-index: -3;
}
