.header_table {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 5%;
    margin-left: 5%;
    padding: 1em;
}

div #search-box {
    background: #e2e0e0;
    padding: 5pt;
    border-radius: 15px;
    display: flex;
    align-items: center;
}

div#search-box.active{
    border-style: solid;
    border-color: var(--accent);
}


.table {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.text_input {
    color: var(--accent);
    font-family: 'Cutive Mono', monospace;
    padding: 3pt;
    border-radius: 10px;
    border-style: none;
    text-align: center;
}

th {
    background-color: rgb(234 233 233);
    font-size: large;
}
th:hover {
    background-color: inherit;
    color:inherit;
}

select {
    padding: 3pt;
    border-radius: 10px;
    border-style: none;
}

option {
    padding: 3pt;
    background-color: white;
}

tr.special {
    background-color: rgb(234 233 233);
}

tr:hover {
    background-color: rgb(234 233 233 / 90%);
    color: var(--accent);
}

tr.search-found {
    color: var(--accent);
}

tr.search-hidden {
    display: none
}

#search_tag {
    display: flex;
    background-color: var(--accent);
    width: fit-content;
    padding: 4pt;
    border-radius: 20px;
    align-items: center;
    color: white;
}
