.avatar-round {
    width: 150px;
    height: 150px;
    border-style: solid;
    border-color: var(--black);
    border-radius: 50px;
    contain: content;
    padding: 10pt;
}

svg.svg-icon {
    fill: none;
    stroke: var(--black);
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2pt;
    width: 25pt;
    height: 25pt;
}
svg.svg-icon:hover {
    fill:var(--accent-fade);
}

.dialogue {
    display: grid;
    grid-template-areas:
        'title close'
        'description description'
        'main main';
    text-align: center;
    justify-items: center;
    background-color: var(--grey);
    padding: 1em;
    border-radius: 20px;
    position: fixed;
    z-index:2;
    right: 0;
}

.dialogue-title {
    grid-area: title;
}

.dialogue-close {
    grid-area: close;
}
.dialogue-description {
    grid-area: description;
}
.dialogue-main {
    grid-area: main;
}
.stuff {
    width: 70%;
    min-width: 350px;
    max-width: 800px;
}

.stuff-container {
    overflow-y: scroll;
    contain: layout;
}

.stuff-grid {
    display: inline-flex;
    grid-template-columns: repeat(minmax(200px, 1fr));
    grid-gap: .8em;
    height: 200px;
    padding: .8em;
    width: inherit;
}

.thumb {
    max-width: 200px;
    max-height: 100%;
    object-fit: scale-down;
    border-radius: 3pt;
    min-width: unset;
}

.user-stuff-heading {
    grid-area: in-page-header;
    display: flex;
    border-top-style: groove;
    border-top-width: thin;
    padding-top: .6em;
    margin-top: .6em;
    justify-content: center;
    align-items: center;
}

/* path.icon.dice {
    fill:none;
    stroke:#f32553;
    stroke-linecap:round;
    stroke-linejoin:round;
    stroke-width:2px;
}

path.icon.dice.hover{
    stroke:var(--background);
    fill:#f32553;
} */
