{% extends "home_layout.html" %}

{% block page_style %}
<link rel="stylesheet" href="/static/tables.css">
{% endblock %}

{% block pop_up %}
    <!-- <div id="backstage-info" class="content-grid pop-up-xl">
        <div class="inner-header">
            <a href="javascript:close_dialogue('backstage-info')">
                <svg class="svg-icon close-bttn" onclick="close_popup('options')">
                    <use xlink:href="#close2"/>
                </svg>
            </a>
            <h5>Here you can add words and phrases to your deck</h5>
        </div>
        <div class="center-content">

                <p>there are 3 tables in this page:</p>

                <div style="display:grid; width:100%; height 300px; grid-template-areas:'one two three .'">

                        <div class="tab-button" style="grid-area:one">
                            subjects
                        </div>

                    <details>
                        <summary class="tab-button" style="grid-area:two">
                            actions
                        </summary>
                    </details>
                    <details>
                        <summary class="tab-button" style="grid-area:three">
                            situations
                        </summary>
                    </details>

                </div>

                <div style="width: 300px; height: 300px; border:solid var(--black)">
                    <svg class="separator" style="stroke:var(--black)">
                        <use xlink:href="#line"/>
                    </svg>
                    <svg class="separator" style="stroke:var(--black)">
                        <use xlink:href="#line"/>
                    </svg>
                    <svg class="separator" style="stroke:var(--black)">
                        <use xlink:href="#line"/>
                    </svg>
                    <svg class="separator" style="stroke:var(--black)">
                        <use xlink:href="#line"/>
                    </svg>
                </div>
                <div id="subjects" class="grid-2-300 no-hover" style="display:none">
                    <div style="grid-area: ex; width:300px height:fit-content;">
                        <h6 class="accent">ex:</h6>
                        <div class="cards">
                            <h6>a corageous paper clip</h6>
                        </div>
                    </div>

                    <div style="grid-area: about; width:300px">
                        <h4 class="accent">subjects</h4>
                        <p style="text-align:justify; font-size:small">subjects corresponds to the first card picked :) it is the main character of the drawing. it could be a person, an animal, well... it could be anything really. </p>
                    </div>
                </div>

                <p>think of each table as a paperbag where we will put all your phrases, shake and then draw a random one from each.</p>
                <p class="small">this is the idea behind the name of the tables, but please feel free to use this tool as you like :D</p>

        </div>
    </div>
    </div> -->
{% endblock %}

{% block user_content %}
<div class="content-grid" style="width:100%">

    <div class="inner-header">
        <div style="display: grid; grid-template-columns: 2fr 1fr; grid-template-areas:'title links' 'table-nav search-bar';">
            <a href="/backstage" style="grid-area:title">
                <h1> {{ name }} </h1>
            </a>
            <ul style="grid-area:links">
                <li>
                    <a href="/custom/{{session['deck_id']}}/2" class="link-with-img">
                        <h6 class="link-text center-content">play</h6>
                        <svg class="svg-icon fill-only link-img" style="height:40pt; width:40pt;">
                            <use xlink:href="#dice"/>
                        </svg>
                    </a>
                </li>
            </ul>
            <div id="search-box" style="grid-area:search-bar; width:fit-content">

                <input id="search_input" class="text_input" type="text" name="search" autocomplete="off">
                <a href="javascript:search_regex()">
                    <svg class="svg-icon">
                        <use xlink:href="#search"/>
                    </svg>
                </a>
                <a href="javascript:end_search()" class="icon" disabled="true">
                    <svg class="svg-icon close-bttn">
                        <use xlink:href="#close2"/>
                    </svg>
                </a>
            </div>

        </div>
    </div>
    <div class="inner-main">
    <ul>
        <div style="border-radius:50px; width:fit-content; grid-area:table-nav;">
        {% if not table %}
        <li class="tab-button active">
            <a href="/backstage" method="get">info</a>
        </li>
        {% else %}
        <li class="tab-button">
            <a href="/backstage" method="get">info</a>
        </li>
        {% endif %}
        {% for name in table_names %}
            {% if table and table['name'] == name %}
            <li class="tab-button active">
                <a href="/backstage?table={{ name }}" method="get" name="selected_table" value="{{ name }}">{{ name }}</a>
            </li>
            {% else %}
            <li class="tab-button">
                <a href="/backstage?table={{ name }}" method="get" name="selected_table" value="{{ name }}">{{ name }}</a>
            </li>
            {% endif %}
        {% endfor %}
        </div>
    </ul>
    {% if table %}
        <table id="table" class="table solid-background" style="width:100%; border-top:solid var(--black); margin:0;">
            <thead class="special">
                <form class="table" action="/backstage" method="post">
                    <input type="hidden" name="table_name" value="{{ table['name'] }}">
                    {% for key in table['keys'] %}
                        {% if key == 'main' %}
                        <th>
                            <input type="text" name="{{ key }}" class="text_input" placeholder="write here!">
                        </th>
                        {% endif %}
                    {% endfor %}
                    <th> <input type="submit" name="button" value="add"> </th>
                </form>
            </thead>

            <tbody id="table-content">
                {% for row in table['data'] %}
                    <tr>
                        <td>{{ row['main'] }}</td>
                        <td>
                            <form name="delete" action="/backstage" method="post">
                                <input type="hidden" name="table_name" value="{{ table['name'] }}">
                                <input type="hidden" name="item_id" value="{{ row['id'] }}">
                                <input type="submit" name="button" value="delete">
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    {% else %}
        <div class="center-content" style="border-top: solid var(--black); padding-top: 1em;">
            <div class="solid-background" style="max-width: 600px;">
                <h5>Here you can add words and phrases to your deck</h5>
                <p>think of each table as a paperbag where we will put all your phrases, shake and then draw a random one from each.</p>
                <div id="subjects" class="grid-2-300 no-hover">
                    <div style="grid-area: ex; width:300px height:fit-content;">
                        <div class="cards">
                            <h6>a corageous paper clip</h6>
                        </div>
                    </div>

                    <div style="grid-area: about; width:300px">
                        <p style="text-align:justify; font-size:small"><strong class="accent">subjects</strong> corresponds to the first card picked :) it is the main character of the drawing. it could be a person, an animal, well... it could be anything really. </p>
                    </div>
                </div>
                <div id="actions" class="grid-2-300 no-hover">
                    <div style="grid-area: ex; width:300px height:fit-content;">
                        <div class="cards">
                            <h6>travelling the world</h6>
                        </div>
                    </div>

                    <div style="grid-area: about; width:300px">
                        <p style="text-align:justify; font-size:small"><strong class="accent">actions</strong> usually contain a verb. something for the subject to be doing... or maybe not. go crazy!</p>
                    </div>
                </div>
                <div id="situations" class="grid-2-300 no-hover">
                    <div style="grid-area: ex; width:300px height:fit-content;">
                        <div class="cards">
                            <h6>inside a dream</h6>
                        </div>
                    </div>

                    <div style="grid-area: about; width:300px">
                        <p style="text-align:justify; font-size:small"><strong class="accent">situations</strong> can be a place, a time, a state of mind. or something else entirely :D</p>
                    </div>
                </div>

            </div>

        </div>


    {% endif %}

    </div>

{% endblock %}
