{% extends "layout.html" %}

{% block page_style %}
<link rel="stylesheet" href="/static/gallery.css">
{% endblock %}

{% block main %}
    <div class="content-grid">
        <div class="inner-header">
            <h1>GALLERY</h1>
            <a href="/upload">upload</a>
        </div>

        <div class="inner-main">
            <div class="center-content">
                <div class="gallery-grid">
                    {% for image in images %}
                        <div class="gallery-item">
                            <div class="image-container">
                                <img class="gallery-image" src="{{ image['path'] }}" alt="image">
                            </div>
                            <div class="gallery-details">
                                {% for card in image['cards'] %}
                                    <h6 class="instructions small">{{card}}</h6>
                                {% endfor %}
                                <h6 class="mono" style="float:right">by {{ image['username'] }}</h6>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
