{% extends "layout.html" %}

{% block page_style %}
<link rel="stylesheet" href="/static/tables.css">
<link rel="stylesheet" href="/static/forms.css">
<link rel="stylesheet" href="/static/user.css">

{% endblock %}

{% block background %}
<div class="background right home">
</div>
{% endblock %}

{% block pop_up %}
    <div id="upload" class="content-grid dialogue" style="display:none" autofocus>

        <div class="inner-header in-dialogue">
            <h5> upload image </h5>
            <a href="javascript:close_dialogue('upload')">
                <svg class="svg-icon">
                    <use xlink:href="#close"/>
                </svg>
            </a>
        </div>
        <div class="inner-main in-dialogue">

            <form action = "/uploader" method = "POST" enctype = "multipart/form-data">
                <label for="file"> accepted formats: jpg, gif and png </label>
                <input type = "file" name = "file" value="select image"/>
                <input type = "submit" value="upload"/>
            </form>
        </div>
    </div>

    <div id="new_db" class="content-grid dialogue" style="display:none" autofocus>

        <div class="inner-header in-dialogue">
            <h5> create your own cards! </h5>
            <a href="javascript:close_dialogue('new_db')">
                <svg class="svg-icon">
                    <use xlink:href="#close"/>
                </svg>
            </a>
        </div>
        <div class="inner-main in-dialogue">

            <form action = "/user_db" method = "POST">
                <label for="file"> what is this set called? </label>
                <input type="text" name="title" placeholder="{{ user }}'s cards">
                <input type="submit" name="submit" value="go!">
            </form>
        </div>
    </div>
{% endblock %}

{% block main %}
<div class="vertical-content-grid">

    <div id ="user-info" class="inner-header">
        <div class="avatar-round">
            <img class="avatar" src="../static/images/avatars/owl.png" alt="">
        </div>
        <h1>hi, {{ session['username']}}</h1>
        <h6>this is home</h6>
        <ul>
            <li>
                <a href="/"  class="vertical-content-grid" style="height:fit-content">
                    <svg class="svg-icon button" class="inner-header">
                        <use xlink:href="#bookmark"/>
                    </svg>
                    <h6 class="inner-main">decks</h6>
                </a>
            </li>
            <li>
                <a href="/my_bookmarks" class="vertical-content-grid" style="height:fit-content">
                    <svg class="svg-icon button" class="inner-header">
                        <use xlink:href="#bookmark"/>
                    </svg>
                    <h6 class="inner-main">bookmarks</h6>
                </a>
            </li>
            <li>
                <a href="/home_?edit=upoloads" class="vertical-content-grid" style="height:fit-content">
                    <svg class="svg-icon button" class="inner-header">
                        <use xlink:href="#photo"/>
                    </svg>
                    <h6 class="inner-main">uploads</h6>
                </a>
            </li>
        </ul>
        <ul>
            <li><a href="/logout">log out</a></li>
            <li><a href="#">settings</a></li>
        </ul>
    </div>

    <ul id="user-stuff" class="inner-main center-content home">
        {% block user_content %}
        {% endblock %}
    </ul>
</div>


{% endblock %}
