{% extends "home_layout.html" %}

{% block pop_up%}
{% endblock %}


{% block user_content %}
    <details open id="my-uploads" class="content-grid stuff" style="height:100%">
        <summary class="user-stuff-heading">
            <h4> editing: uploads </h4>
        </summary>
        <div class="stuff-container center">
                <div class="gallery-grid" action="home_" method="get">

                    <div class="gallery-item small">
                        <div class="image-container">
                            <a href="javascript:open_dialogue('upload')">
                                <svg class="svg-icon">
                                    <use xlink:href="#add-button"/>
                                </svg>
                            </a>
                            <div class="gallery-details">
                                <h6>add new!</h6>
                            </div>
                        </div>
                    </div>

                    {% for item in content %}
                        {% if item['path']%}
                        <a href="/image?img={{ item['id'] }}">
                            <div id="{{ item['id'] }}"class="gallery-item small">
                                <div class="image-container">
                                        <img class="gallery-image" src="./{{ item['path'] }}" alt="" name="item" value="{{ item['id'] }}">
                                </div>
                                <div class="gallery_details">
                                    <h6>{{ item['cards'] }}</h6>
                                    <p>by {{ session['username'] }}</p>
                                </div>
                            </div>
                        </a>
                        {% endif %}
                    {% endfor %}
            </div>
            <div class="">
                <p>here you can upload images</p>
            </div>
    </details>
{% endblock %}
