{% extends "home_layout.html" %}

{% block user_content %}
    <details open id="my-cards" class="content-grid stuff">
        <summary class="user-stuff-heading">
            <h4>my card-sets</h4>
            <a href="javascript:edit_mode('my-cards')">
                <svg class="svg-icon">
                    <use xlink:href="#pencil"/>
                </svg>
            </a>
        </summary>
        <div class="stuff-container">
            <p>here you'll find your decks</p>
            <div class="stuff-grid">
                <div class="thumb">
                    <a href="javascript:open_dialogue('new_db')">
                        <svg class="svg-icon">
                            <use xlink:href="#add-button"/>
                        </svg>
                    </a>
                    <h6>add new!</h6>
                </div>
            </div>
        </div>
    </details>

    <details open id="saved-draws" class="content-grid stuff">
        <summary class="user-stuff-heading">
            <h5>my bookmarks</h5>
            <a href="/my_bookmarks">
                <svg class="svg-icon">
                    <use xlink:href="#pencil"/>
                </svg>
            </a>
        </summary>
        <div class="stuff-container">
            {% if bookmarks %}
                <div class="stuff-grid">
                    {% for bookmark in bookmarks %}
                    <p> {{ bookmark['cards'] }}</p>
                    {% endfor %}
                </div>
            {% else %}
                <p>here you'll find your saved draws</p>
            {% endif %}
        </div>
    </details>

    <details open id="my-uploads" class="content-grid stuff">
        <summary class="user-stuff-heading">
            <h4>my uploads</h4>
            <a href="/home_?edit=uploads">
                <svg class="svg-icon">
                    <use xlink:href="#pencil"/>
                </svg>
            </a>
        </summary>
        <div class="stuff-container">
            {% if uploads %}
            <div class="stuff-grid">
                <div class="thumb">
                    <a href="javascript:open_dialogue('upload')">
                        <svg class="svg-icon">
                            <use xlink:href="#add-button"/>
                        </svg>
                    </a>
                    <h6>add new!</h6>
                </div>

                {% for upload in uploads %}
                    <img class="thumb" src="{{ upload['path'] }}" alt="">
                {% endfor %}
            </div>
            {% else %}
            <div class="">
                <p>here you can upload images</p>
            </div>
            {% endif %}
        </div>
    </details>
{% endblock %}
