{% extends "layout.html" %}
{% block page_style %}
<link rel="stylesheet" href="/static/gallery.css">
<link rel="stylesheet" href="/static/forms.css">
{% endblock %}

{% block main %}
{% if image %}
<div class="center-content">
    <form class="" action="\image" method="post">
        <div class="gallery-item single">
            <div class="image-container single">
                <img class="gallery-image single" src="{{ image['path']}}" alt="">
            </div>
            <div class="gallery-details">
                <input type="hidden" name="image_id" value="{{ image['id']}}">
                    {% if image['cards']%}
                        {% for card in image['cards'] %}
                            <input type="text-area" name="cards" value="{{ card }}" placeholder="manually add the cards">
                        {% endfor %}
                    {% endif %}
                    <input type="text-area" name="cards" value="{{ card }}" placeholder="manually add the cards">
            </div>
        </div>
        <input type="submit" name="button" value="update">
        <input type="submit" name="button" value="delete">
    </form>
</div>
{% else %}
    <h1>{{ error }}</h1>
{% endif %}
{% endblock %}
