{% extends "home_layout.html" %}

{% block pop_up%}
<div id="upload" class="content-grid pop-up" autofocus>

    <div class="inner-header in-dialogue">
        <h5> upload image </h5>
        <a href="javascript:close_dialogue('upload')">
            <svg class="svg-icon close-bttn">
                <use xlink:href="#close2"/>
            </svg>
        </a>
    </div>
    <div class="inner-main in-dialogue">
        <form action = "/uploader" method = "POST" enctype = "multipart/form-data">
            <input id="bookmark_id" type="hidden" name="bookmark_id" value="">
            <label for="file"> accepted formats: jpg, gif and png </label>
            <input type = "file" name = "file" value="select image"/>
            <input class="form-button" style="margin-top:2em" type = "submit" value="upload"/>
        </form>
    </div>
</div>
{% endblock %}


{% block user_content %}
    <div class="content-grid" style="width:100%; height:100%">
        <div class="inner-heading home-titles inverted">
            <svg class="separator dec" class="inner-header">
                <use xlink:href="#line"/>
            </svg>
            <svg class="svg-icon button" class="inner-header">
                <use xlink:href="#bookmark"/>
            </svg>
            <h4 style="display:inline;"> bookmarks </h4>
            <svg class="separator dec" class="inner-header">
                <use xlink:href="#line"/>
            </svg>
        </div>

        <div class="inner-main">
                <div class="stuff-grid" action="home_" method="get">
                {% if content %}
                    {% for item in content %}
                        <div class="cards-container small" style="padding-top:0;">
                            <div style="display:flex; align-self:flex-end;"">
                                <form class="" action="/my_bookmarks" method="post">
                                    <input type="hidden" name="id" value="{{ item['id'] }}">
                                    <a href="javascript:upload_with_cards({{ item['id'] }}, 'upload')" class="image-submit" style="display:inline-block;">
                                        <!-- <input type="submit" name="action" value="upload drawing"> -->
                                        <svg class="svg-icon fill-cut smaller">
                                            <use xlink:href="#upload"/>
                                        </svg>
                                    </a>
                                    <div class="image-submit" style="display:inline-block;">
                                        <input type="submit" name="action" value="delete">
                                        <svg class="svg-icon fill-cut smaller">
                                            <use xlink:href="#trash"/>
                                        </svg>
                                    </div>
                                </form>
                            </div>

                            {% for card in item['cards'] %}
                                <div class="cards small">
                                    <h6>{{ card }}</h6>
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
            </div>
            {% else %}
            <div class="">
                <div class="cards-container small">
                    <h6>to add bookmarks, go to:</h6>
                    <a href="/">
                        <svg class="svg-shape">
                            <use xlink:href="#title"/>
                        </svg>
                    </a>
                    <h6> then click the bookmark icon at the bottom of the screen when you find a set of cards you want to save for later</h6>
                </div>
            </div>
            {% endif %}
    </div>
{% endblock %}
