{% extends "layout.html" %}

{% block main %}
<div class="center-content">

    <form class="register" action="/register" method="post">

        <div class="form-item">
            <label for="username">username:</label>
            <input type="text" name="username" value="" placeholder="username">
        </div>
        <div class="form-item">
            <label for="password">password:</label>
            <input type="password" name="password" value=""placeholder="******">
        </div>
        <div class="form-item">
            <label for="password">password:</label>
            <input type="password" name="password_confirmation" value=""placeholder="confirm password">
        </div>
        <input class="form-button" type="submit" name="submit" value="register">

    </form>

</div>

{% endblock %}
